@import "tailwindcss";

@theme {
  --color-primary-50: #ffe5e5;
  --color-primary-100: #ffcccc;
  --color-primary-200: #ff9999;
  --color-primary-300: #ff6666;
  --color-primary-400: #ff3333;
  --color-primary-500: #E60100;
  --color-primary-600: #cc0100;
  --color-primary-700: #b30100;
  --color-primary-800: #990100;
  --color-primary-900: #800100;
}
